<!DOCTYPE html>
<html>
<head>
	<title>Index Page</title>
</head>
<body>
	<h3>GAMES</h3>
	<img src="{{ user_image }}" alt="OS SYSTEMS">
	<br>
	<table>
		<thead>
			<th>Id </th>
			<th>Game Name  </th>
			<th>Required Age  </th>
			<th>Price  </th>
			<th></th>
		</thead>
		{% for data in games %}
		<tbody>
			<td>{{data.id}}</td>
			<td>{{data.game_name}}</td>
			<td>{{data.required_age}}</td>
			<td>{{data.price}}</td>
			<td><a href="/delete/{{data.id}}" type="button">Delete</a></td>

		</tbody>
		{% endfor%}
	</table>
	<a href="/add_game">ADD</a>
	
</body>
</html>
